<body>
  <section>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item">SportsBox Sports</h1>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>
    
          <a  href="/standings" class="navbar-item">
            Standings
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                News
              </a>
              <a href="/teams" class="navbar-item">
                Teams
              </a>
              <a href="/players" class="navbar-item">
               Players
              </a>
              <a class="navbar-item">
                Highlights
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
   </section> 
  <div class="tile is-ancestor" style="margin: 5px;">
    <div class="tile is-vertical">
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each atlantic as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
              <span class="icon" style="float:right">
                <i class="fas fa-star fa-lg"></i>
              </span>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each central as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
                <i style="float:right" class="fas fa-star fa-lg"></i>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each southeast as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
              <span class="icon" style="float:right">
                <i class="fas fa-star fa-lg"></i>
              </span>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each northwest as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
              <span class="icon" style="float:right">
                <i class="fas fa-star fa-lg"></i>
              </span>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each pacific as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
              <span class="icon" style="float:right">
                <i class="fas fa-star fa-lg"></i>
              </span>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
      <div class="tile is-parent" style="text-align: center; justify-content: space-around; padding: 5px;">
        {{#each southwest as |team|}}
            <a href="/teams/{{team.TEAMID}}">
              <article class="tile is-child box" style="height: 300px; width: 260px; background-image: linear-gradient(180deg, #{{team.primaryColor}}, #{{team.secondaryColor}});">
              <span class="icon" style="float:right">
                <i class="fas fa-star fa-lg"></i>
              </span>
              <p class="title" style="color:gainsboro;">{{team.city}} {{team.teamName}}</p>
              <figure class="image is-4by3">
                <img src="{{team.logoURL}}">
              </figure>
            </article>
            </a>
        {{/each}}
      </div>
    </div>
  </div>  
  
</body>